<div id="header">
    <button id="menu-toggle" type="button">
        <span class="sr-only">Toggle Navigation Menu</span>
    </button>
    <button id="search-toggle" type="button">
        <span class="sr-only">Toggle Search Form</span>
    </button>
    <a id="logo" href="/">
        <span class="sr-only">구조론</span>
    </a>
    <form id="search">
        <input id="searchQueryEdit" name="q" type="search" placeholder="Search..." value="" />
    </form>
    <ul id="menu" class="nav">
        <li class="{% if page.url != '/help/'%} active {% endif %}"><a href="{{ base_path }}/">대문</a></li>
        <li class="{% if page.url == '/help/' %} active {% endif %}"><a href="{{ base_path }}/tags/컬럼/">시사컬럼</a></li>
        <li class="{% if page.url == '/help/' %} active {% endif %}"><a href="{{ base_path }}/tags/컬럼/">깨달음의 대화</a></li>
        <li class="{% if page.url == '/help/' %} active {% endif %}"><a href="{{ base_path }}/openapi/">오픈API</a></li>
    </ul>
</div><!-- #header -->
